<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Login</title>
<link rel="stylesheet" href="/css/login.css"
	th:href="@{/css/login.css}" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script src="https://kit.fontawesome.com/bb81f7e50b.js" crossorigin="anonymous"></script>
​
</head>
<body style="background-color: #0066cc;">
	<div class="ps col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4">
		<div class="title">
			<i class="fas fa-user-circle"></i>
			<b>LOGIN</b>
		</div>
		<div th:if="${param.error}" class="alert alert-danger">The user
			name or password you entered is incorrect</div>

		<div th:if="${param.logout}" class="alert alert-secondary">
			Logout We hope to see you again.
		</div>
		
		<form th:action="@{/login}" method="post">
			<div class="input-group user-group">
				<div class="input-group-prepend">
					<span class="input-group-text"><i class="fas fa-user"></i></span> 
				</div>
				<input type="text"
						id="email" name="email" class="form-control" placeholder="Username" />
			</div>
			
			<div class="input-group pass-group">
				<div class="input-group-prepend">
					<span class="input-group-text"><i class="fas fa-key"></i></span>
				</div>
				<input type="password" id="password" name="password"
					class="form-control" placeholder="Password" />
			</div>
			<div class="submit">
				<input type="submit" value="LogIn" class="btn btn-success" />
			</div>
		</form>
	</div>
	<div class="container">
		<div class="footer">
			Created in 2020
		</div>
		
	</div>
</body>

</html>